.home_text {
  vertical-align: middle;
  padding-left: 30px;

  .text_wrapper {
    padding-right: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  h1 {
    color: $secondary_color;
    margin-bottom: 20px;
    font-size: 50px;
  }

  p {
    color: $font_main;
    font-size: 15px;
  }
}

.home_content {
  margin-top: 5%;
  height: calc(100% - 100px);
}

.single_service {
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  border: 2px solid $color_4;
  border-radius: 9px;
  background: white;
  transition: all 1s ease;
  transform: scale(0.9);

  &:hover {
    border: 2px solid white;
    background: $color_4;
    transform: scale(1);

    .single_services_content{
      h2, p {
        color: white;
      }
    }
  }

  a {
    text-decoration: none !important;
  }

  svg {
    padding-top: 15px;
  }

  .single_services_content {
    padding-top: 30px;

    h2 {
      color: $secondary_color;
    }

    p {
      font-size: 13px;
      color: $font_main;
    }
  }
}
