//COLORS
$font_main: #39393B;
$secondary_color: #E45158;
$color_3: #616161;
$color_4: #D5797E;

body {
  font-family: 'Open Sans', sans-serif;

  h1, h2, h3, h4, h5 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
  }
}

.custom_padding {
  padding-left: 30px;
  padding-right: 30px;
}

//PARTIALS
@import "partials/home";
@import "partials/header";
@import "partials/services";
