//COLORS
$font_color: white;
$font_main: #1A1919;
$secondary_color: #FF9D7A;

h1, h2, h3, h4, h5 {
  font-family: 'Calistoga', cursive;
}

//PARTIALS
@import "partials/home";
@import "partials/header";
